.App {
  text-align: center;
  justify-content: center;
 
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  min-height: 10vh;
  background: rgba(47, 51, 66, 0.884);
  color: white;
  /* justify-content: center; */
  margin: 2em;
}

h3 {
  margin: 7px;
  justify-items: flex-start;
}

ul {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  list-style: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

li {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
}

.container {
  margin: 10px;
  padding: 10px;
  justify-self: right;
  font-family: fantasy;
}

.user, .pass, .login, .em, .first, .last {
  margin: 5px 0px 0px;
  padding: 10px 0px 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  justify-content: center;
  font-family: fantasy;
}

.firstName, .lastName, .email, .username, .password {
  background-color: rgb(231, 231, 221);
  margin: 5px;
  padding: 10px;
  background-color: rgb(16, 33, 65);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: beige;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0pc 10px 50;
}

.profileInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
}

.profileInfo button {
  background-color: rgba(40, 52, 230, 0.37);
  border: 2px solid black;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.profileInfo button:hover {
  color: rgb(32, 112, 165);
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
}

.profileInfo small {
  color: black;
  font-weight: lighter;
}

body {
  display: flex;
  /* background-image: url("./components/images/E6476857-8F5D-48C4-9C8F-EF4B29F7612C_1_105_c.jpeg"); */
   background-image: url("./components/images/nebraska.JPG");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
}

.home-header {
  font-family: fantasy;
}

h1, h3 {
  text-align: center;
  width: 100%;
  color: beige;
  font-weight: lighter;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}


input {
  margin: 10px;
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(247, 244, 244);
}

input::placeholder {
  margin: 5px;
  padding: 5px;
  font-size: 1.2em;
  font-weight: lighter;
  color: rgb(20, 20, 20);
}

input.error {
  border: 1px solid red;
} 

 .errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}
