.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-round;
  align-items: center;
  min-height: 10vh;
  background: navy;
  color: white;  
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}